<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49130665372-d60felbe9h7jnlimeis4ccd5v3li7ph2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49130665372-d60felbe9h7jnlimeis4ccd5v3li7ph2</string>
	<key>API_KEY</key>
	<string>AIzaSyCoXAlX--SBe5JbxbZE0EPylXvPDFd8oXg</string>
	<key>GCM_SENDER_ID</key>
	<string>49130665372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.store.smartStore</string>
	<key>PROJECT_ID</key>
	<string>smart-store-7652d</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-store-7652d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49130665372:ios:28115db0ee19adcfa68459</string>
</dict>
</plist>